.friend{
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1.7rem;
    cursor: pointer;
    padding:1rem;
    align-items: center;
    font-size: 1.6rem;
}

.friend p{
    margin: 0;
}

.friend-active{
    background-color: #232544;
    border-radius: 4rem;
}


.last-message{
    font-size: 1.3rem;
    color:gray;
}

.chat-list{
    display: flex;
    flex-direction: column;
}

