.body{
    display:grid;
    grid-template-columns: 8rem 1fr 22rem;
}

header{
    display:grid;
    padding:0rem 4rem 0rem 2rem;
    height:7rem;
}

.profile-bar{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;

}

.profile-pic{
    height:4rem;
    width:4rem;
    border-radius: 50%;
    overflow: hidden;
}



.search-bar{
    padding:0.5rem 1rem;
    border-radius: 1.5rem;
    border:1px solid rgb(138, 138, 138);
    background-color: transparent;
}

.search-bar:focus{
    outline: none;
}


.chat-body{
    position: relative;
    height:calc(100vh - 7rem);
    padding:0rem 2rem;
    background-color: var(--white);
}

.sidebar{
    display: grid;
    justify-content: center;
    align-content: start;
    background-color: var(--dark);
    color:white;
}

.sidebar >span{
    display:grid;
    align-items: center;
    height:7rem;
}

h1{
    font-size: 3rem;
    font-weight: 5rem;
    color:white;
}

.click-button{
    background-color: var(--msg);
    padding:0.7rem 1rem;
    border-radius: 3rem;
    color:white;
}



