.body{
    display:grid;
    grid-template-columns: 8rem 26rem 1fr ;
}

header{
    display:grid;
    padding:0rem 5rem 0rem 3rem;
    height:7rem;
    background-color: var(--white);
}

.profile-bar{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    font-weight: 500;
    position: relative;
    border-bottom:1px solid #CDDAE4;
}



.profile-pic{
    height:4rem;
    width:4rem;
    border-radius: 50%;
    overflow: hidden;
}

.search-bar{
    padding:0.5rem 1rem;
    border-radius: 1.5rem;
    border:1px solid ;
    background-color: var(--white);
    color:lightgray;
    display: flex;
}

.search-bar > input:focus{
    outline: none;
}

.search-bar input{
    background-color: transparent;
    border: none;
}


.chat-body{
    height:calc(100vh - 13rem);
    padding:0rem 3rem;
    background-color: var(--white);
}

.sidebar{
    display: grid;
    justify-content: center;
    align-content: start;
    background-color: var(--dark);
    height:100vh;
}

.sidebar >span{
    display:grid;
    align-items: center;
    height:7rem;
}

.sidebar-right{
    background-color:var(--lightwhite)
}

h1{
    color:black;
    font-size: 3rem;
    font-weight: 5rem;
}

.click-button{
    background-color: var(--msg);
    padding:0.7rem 1rem;
    border-radius: 3rem;
    color:white;
}

.group-add-button{
    position: relative;
}

.group-add-button >span{
    font-size: 1.5rem;
    background-color: var(--msg);
    padding:0.5rem 1rem;
    border-radius: 2rem;
    color:white;
    margin-left:0.5rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.group-add-button:hover >span{
 opacity: 1;
}

.group-add-button >button{
   width:3rem;
   height:3rem;
   font-size:2rem;
}



