.chat-box{
    padding-bottom:5rem;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: end; 
}

.chat{
    overflow-y: scroll;

}

.chat::-webkit-scrollbar{
    display: none;
}


.input-bar{
    position: absolute;
    height:5rem;
    bottom:0px;
    right:0px;
    left:0px;
    display: flex;
    justify-content: space-between;
    padding:1rem 4rem;
    column-gap: 4rem;
    background-color: white;
}

.text-bar{
    width:100%;
}

.text-bar>input{
    width:100%;

}

.text-bar>input:focus{
    outline: none;
}

.file-bar{
    display: none;
}

.send-buttons{
    display: flex;
}

.message{
    display:flex;
    column-gap: 2rem;
    margin-bottom: 2rem;
    justify-content: end;
}

.owner{
    justify-content: start;
}

.owner .message-box{
    order:2;
}


.message-info p{
    font-size: 1rem;
    
}

.message-box >p{
    color:white;
    background-color: var(--msg);
    padding:0.5rem 1rem;
    border-radius: 2rem;
    
}

.send-buttons{
    display:flex;
    align-items: center;
    column-gap: 2rem;
    font-size: 2.2rem;
    color:var(--msg);
    cursor: pointer;
    
}




