.chat-box{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: end; 
}

.chat{
    overflow-y: scroll;

}

.chat::-webkit-scrollbar{
    display: none;
}


.input-bar{
    height:6rem;
    display: flex;
    justify-content: space-between;
    padding:1rem 4rem;
    column-gap: 4rem;
    background-color: white;
}

.text-bar{
    width:100%;
}

.text-bar>input{
    width:100%;
    border: none;
    font-size:1.5rem;
    height:3rem;

}

.text-bar>input:focus{
    outline: none;
}

.file-bar{
    display: none;
}

.send-buttons{
    display: flex;
}

.message{
    display:flex;
    column-gap: 2rem;
    margin-bottom: 2rem;
    justify-content: end;
    align-items: center;
}

.owner{
    justify-content: start;
}

.msg{
    display:flex;
    flex-direction: row-reverse;
    column-gap: 2rem;
}

.owner .msg  {
    flex-direction: row;
}


.message-info p{
    font-size: 1rem;
}

.message-info{
    display:flex;
    flex-direction: column;
    align-items: end;
}

.owner .message-info{
    align-items: start;

}

.message-box >p{
    color:white;
    background-color: var(--msg);
    padding:0.5rem 1rem;
    border-radius: 2rem;
    font-size: 1.4rem;
}

.send-buttons{
    display:flex;
    align-items: center;
    column-gap: 2rem;
    font-size: 2.2rem;
    color:var(--msg);
    cursor: pointer;
}


.send-buttons > label{
    background-color: var(--lightwhite);
    border-radius: 50%;
    height:3.5rem;
    width:3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-buttons > button{
    background-color: var(--msg);
    height:3.3rem;
    width:3.3rem;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}




