html{
    font-size:62.5%;
    
  }

  body{
    font-size: 1.8rem;
  }
  
  
  @media(max-width:1200px){
    html{
        font-size: 55%;
       
    }
  }
  @media(max-width:768px){
    html{
        font-size: 45%;
    }
  }
  
  @media(max-width:650px){
    html{
        font-size: 25%;
    }
  }
  
  @media(max-width:350px){
    html{
        font-size: 15%;
    }
  }

  *{
    box-sizing: border-box;
}


img{
    width:100%;
    height:100%;
    object-fit: cover;
}


