body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root{
  --dark:#16172B;
  --msg:#8F47FF;
  --white:#F2F3F5;
}


.friend{
  display: flex;
  column-gap: 1rem;
  margin-bottom: 1.7rem;
  cursor: pointer;
  padding:1rem;
}

.friend-active{
  background-color: #232544;
  border-radius: 4rem;
}

.last-message{
  font-size: 1.5rem;
  color:gray;
}

.chat-list{
  display: flex;
  flex-direction: column;
}


.body{
  display:grid;
  grid-template-columns: 28rem 1fr;
}

header{
  display:grid;
  padding:0rem 4rem 0rem 2rem;
  height:7rem;
}

.profile-bar{
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;

}

.profile-pic{
  height:4rem;
  width:4rem;
  border-radius: 50%;
  overflow: hidden;
}



.search-bar{
  padding:0.5rem 1rem;
  border-radius: 1.5rem;
  border:1px solid rgb(138, 138, 138);
  background-color: transparent;
}

.search-bar:focus{
  outline: none;
}


.chat-body{
  position: relative;
  height:calc(100vh - 7rem);
  padding:0rem 2rem;
  background-color: var(--white);
}

.sidebar{
  padding:0rem 3rem;
  background-color: var(--dark);
  color:white;
}

.sidebar >span{
  display:grid;
  align-items: center;
  height:7rem;
}

h1{
  font-size: 3rem;
  font-weight: 5rem;
  color:white;
}

.click-button{
  background-color: var(--msg);
  padding:0.7rem 1rem;
  border-radius: 3rem;
  color:white;
}

.chat-box{
  padding-bottom:5rem;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: end; 
}

.chat{
  overflow-y: scroll;

}

.chat::-webkit-scrollbar{
  display: none;
}


.input-bar{
  position: absolute;
  height:5rem;
  bottom:0px;
  right:0px;
  left:0px;
  display: flex;
  justify-content: space-between;
  padding:1rem 4rem;
  column-gap: 4rem;
  background-color: white;
}

.text-bar{
  width:100%;
}

.text-bar>input{
  width:100%;

}

.text-bar>input:focus{
  outline: none;
}

.file-bar{
  display: none;
}

.send-buttons{
  display: flex;
}

.message{
  display:flex;
  column-gap: 2rem;
  margin-bottom: 2rem;
  justify-content: end;
}

.owner{
  justify-content: start;
}

.owner .message-box{
  order:2;
}


.message-info p{
  font-size: 1rem;
  
}

.message-box >p{
  color:white;
  background-color: var(--msg);
  padding:0.5rem 1rem;
  border-radius: 2rem;
  
}

.send-buttons{
  display:flex;
  align-items: center;
  column-gap: 2rem;
  font-size: 2.2rem;
  color:var(--msg);
  cursor: pointer;
  
}







;
